@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: 25 118 210;
  --secondary-color: 156 39 176;
  --error-color: 211 47 47;
  --warning-color: 237 108 2;
  --info-color: 2 136 209;
  --success-color: 46 125 50;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.input-text-field {
  padding: 25px 12px 8px 12px;
}

.input-custom::after {
  /* border-bottom: solid 2px #2563eb; */
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
}
.input-custom::before {
  /* border-bottom: solid 2px #2563eb; */
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  border-bottom-color: all 200ms cubic-bezier(0, 0, 0.2, 1);
}
.input-custom-none::after {
  transform: scale(0);
}
.input-custom-normal::after {
  transform: scale(1);
}
.label-text-field {
  position: absolute;
  transition: all 0.2s ease-out;
  transform-origin: left top;
}
.normal-label-text-field-filled {
  transform: translate(12px, 16px) scale(1);
}
.mini-label-text-field-filled {
  transform: translate(12px, 4px) scale(0.75);
}
.bocadillo {
  /* border: 25px solid; */
  content: '';
  /* border-left-color: transparent; */
  /* border-bottom-color: transparent; */
  /* border-right-color: transparent; */
  /* display: flex; */

  position: absolute;
  scale: 0.2;

  /* bottom: 0px; */
  /* left: calc(20% - 25px); */
}
.flex-inherit {
  flex-direction: inherit;
}
