@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: 25 118 210;
  --secondary-color: 156 39 176;
  --error-color: 211 47 47;
  --warning-color: 237 108 2;
  --info-color: 2 136 209;
  --success-color: 46 125 50;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* --primary-color-10: rgba(25, 118, 210, 0.1);
  --primary-color-20: rgba(25, 118, 210, 0.2);
  --primary-color-30: rgba(25, 118, 210, 0.3);
  --primary-color-40: rgba(25, 118, 210, 0.4);
  --primary-color-50: rgba(25, 118, 210, 0.5);
  --primary-color-60: rgba(25, 118, 210, 0.6);
  --primary-color-70: rgba(25, 118, 210, 0.7);
  --primary-color-80: rgba(25, 118, 210, 0.8);
  --primary-color-90: rgba(25, 118, 210, 0.9);
  --primary-color-100: rgba(25, 118, 210, 1);

  --secondary-color-10: rgba(156, 39, 176, 0.1);
  --secondary-color-20: rgba(156, 39, 176, 0.2);
  --secondary-color-30: rgba(156, 39, 176, 0.3);
  --secondary-color-40: rgba(156, 39, 176, 0.4);
  --secondary-color-50: rgba(156, 39, 176, 0.5);
  --secondary-color-60: rgba(156, 39, 176, 0.6);
  --secondary-color-70: rgba(156, 39, 176, 0.7);
  --secondary-color-80: rgba(156, 39, 176, 0.8);
  --secondary-color-90: rgba(156, 39, 176, 0.9);
  --secondary-color-100: rgba(156, 39, 176, 1);

  --error-color-10: rgba(211, 47, 47, 0.1);
  --error-color-20: rgba(211, 47, 47, 0.2);
  --error-color-30: rgba(211, 47, 47, 0.3);
  --error-color-40: rgba(211, 47, 47, 0.4);
  --error-color-50: rgba(211, 47, 47, 0.5);
  --error-color-60: rgba(211, 47, 47, 0.6);
  --error-color-70: rgba(211, 47, 47, 0.7);
  --error-color-80: rgba(211, 47, 47, 0.8);
  --error-color-90: rgba(211, 47, 47, 0.9);
  --error-color-100: rgba(211, 47, 47, 1);

  --warning-color-10: rgba(237, 108, 2, 0.1);
  --warning-color-20: rgba(237, 108, 2, 0.2);
  --warning-color-30: rgba(237, 108, 2, 0.3);
  --warning-color-40: rgba(237, 108, 2, 0.4);
  --warning-color-50: rgba(237, 108, 2, 0.5);
  --warning-color-60: rgba(237, 108, 2, 0.6);
  --warning-color-70: rgba(237, 108, 2, 0.7);
  --warning-color-80: rgba(237, 108, 2, 0.8);
  --warning-color-90: rgba(237, 108, 2, 0.9);
  --warning-color-100: rgba(237, 108, 2, 1);

  --info-color-10: rgba(2, 136, 209, 0.1);
  --info-color-20: rgba(2, 136, 209, 0.2);
  --info-color-30: rgba(2, 136, 209, 0.3);
  --info-color-40: rgba(2, 136, 209, 0.4);
  --info-color-50: rgba(2, 136, 209, 0.5);
  --info-color-60: rgba(2, 136, 209, 0.6);
  --info-color-70: rgba(2, 136, 209, 0.7);
  --info-color-80: rgba(2, 136, 209, 0.8);
  --info-color-90: rgba(2, 136, 209, 0.9);
  --info-color-100: rgba(2, 136, 209, 1);

  --success-color-10: rgba(46, 125, 50, 0.1);
  --success-color-20: rgba(46, 125, 50, 0.2);
  --success-color-30: rgba(46, 125, 50, 0.3);
  --success-color-40: rgba(46, 125, 50, 0.4);
  --success-color-50: rgba(46, 125, 50, 0.5);
  --success-color-60: rgba(46, 125, 50, 0.6);
  --success-color-70: rgba(46, 125, 50, 0.7);
  --success-color-80: rgba(46, 125, 50, 0.8);
  --success-color-90: rgba(46, 125, 50, 0.9);
  --success-color-100: rgba(46, 125, 50, 1); */
}

.input-text-field {
  padding: 25px 12px 8px 12px;
}

.input-custom::after {
  /* border-bottom: solid 2px #2563eb; */
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
}
.input-custom::before {
  /* border-bottom: solid 2px #2563eb; */
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  border-bottom-color: all 200ms cubic-bezier(0, 0, 0.2, 1);
}
.input-custom-none::after {
  transform: scale(0);
}
.input-custom-normal::after {
  transform: scale(1);
}
.label-text-field {
  position: absolute;
  transition: all 0.2s ease-out;
  transform-origin: left top;
}
.normal-label-text-field-filled {
  transform: translate(12px, 16px) scale(1);
}
.mini-label-text-field-filled {
  transform: translate(12px, 4px) scale(0.75);
}
